@import url('https://fonts.googleapis.com/css2?family=Patua+One&family=Poppins:wght@400;700&display=swap');

:root {
    --gris: white;
    --vert1:#94C1D6; 
    --vert2:#A5C2D6; 
    --vert3:#6FA7BC; 
}

html,body{
    /*background: url('https://wallpaperaccess.com/full/31367.jpg');*/
	background: url('https://wallpapercave.com/wp/jUniFl4.jpg');
    font-family: 'poppins';
    font-weight: normal;
    margin: 0;
    height: 1300px;
}

h2{
    margin: 0;
}

header{
    background-color: var(--vert2);
    display: flex;
    justify-content: space-between;
    padding: .5em;
}

.acc{
    margin-left: 3%;
    margin-top: 0;
    margin-bottom: 0;
}

.acc a{
    color: black;
    font-style: normal;
    text-decoration: none;
}

.acc h2{
    margin-top: 0;
    margin-bottom: 0;
}

.acc a:hover{
    color: var(--gris);
}

.nom{
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
    display: none;
}

.nom h2{
    margin-top: 0;
    margin-bottom: 0;
}

.dropbtn{
    border: none;
    background-color: var(--vert2);
    font-size: 15px;
}

.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown-content{
    display: none;
    position: absolute;
    right: -.5em;
    top: -.5em;
    min-width: 290px;
    z-index: 1;
    background-color: var(--vert2);
    border-radius: 1em;
    box-shadow: 3px 3px 3px var(--vert3);
    padding-top: 2.5em;
    padding-bottom: .5em;
    padding-left: 1em;
    transition-duration: .5s;
}

.dropdown-content img{
    position: absolute;
    width: 32px;
    height: 32px;
    left: .5em;
    top: .5em;
}

.dropdown:hover .dropdown-content{
    display: block;
    
}

.dropdown:hover .dropbtn{
    color: var(--gris);
}

.contact{
    position: relative;
    margin-right: 3%;
}

.contword{
    position: relative;
    font-size: 150%;
    font-weight: bold;
    z-index: 2;
}

.contword:hover{
    color: var(--gris);
    cursor: pointer;
}

.cv-container{
    margin: 20vh 2em 2em 2em;
    padding: 1em;
    background-color: white;
    border-radius: 2em;
}

.cv-container .cv-head{
    position: relative;
    text-align: center;
}

.cv-container .cv-head h3{
    text-decoration: underline;
}

.cv-container .cv-head .cv-img-cont{
    display: flex;
}

.cv-container .cv-head .cv-img-cont img{
    height: 200px;
	width: 196px;
    border-radius: 50%;
    border: 2px solid black;
	background-color: white ;
    margin: 0 auto;
    margin-top: -8em;
}

.line{
    margin: 2em 1.5em;
    height: 5px;
    background-color: var(--gris);
    border-radius: 10px;
}

.cv-container .cv-content-container .cv-content-left{
    text-align: center;
}

.cv-container .cv-content-container .cv-content-left ul{
    list-style-type: none;
    margin: 1em;
    padding: 0;
}

.cv-container .cv-content-container .cv-content-left img{
    display: none;
}

.cv-container .cv-content-container .cv-content-right{
    text-align: center;
}

.cv-container .cv-content-container .cv-content-right ul{
    list-style-type: none;
    margin: 1em;
    padding: 0;
}


.cv-container .cv-content-container .cv-content-right img{
    display: none;
}

.cv-container .cv-content-container .line-vert{
    display: none;
}

.download-buton{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
    width: 64px;
    z-index: 999;
    right: 5%;
    bottom: 8%;
    border-radius: 50%;
    box-shadow: 3px 3px 3px var(--vert3);
    border: 3px solid var(--vert2);
    background-color: var(--vert1);
}

.download-buton:hover{
    box-shadow: 5px 5px 5px var(--vert3);
    border: 3px solid var(--vert1);
    background-color: var(--vert2);
}

.download-buton img{
    height: 48px;
    width: 48px;
}

@media screen and (min-width: 600px){

    .nom{
        display: block;
    }

}

@media screen and (min-width: 1000px){
    
    .cv-container .cv-content-container{
        display: flex;
        position: relative;
        justify-content: space-between;
        padding: 2em;
    }

    .cv-container .cv-content-container .line-vert{
        display: block;
        width: 5px;
        border-radius: 10px;
        background-color: var(--gris);
        margin: 0;
    }

    .cv-container .cv-content-container .cv-content-right img{
        display: block;
        height: 150px;
        border-radius: 1em;
        margin-bottom: 3em;
    }

    .cv-container .cv-content-container .cv-content-right{
        text-align: left;
    }

    .cv-container .cv-content-container .cv-content-left{
        text-align: left;
    }

    .cv-container .cv-content-container .cv-content-right ul{
        list-style-type: disc;
        margin: 1em;
        padding: 0;
    }

    .cv-container .cv-content-container .cv-content-right ul li{
        margin-top: .3em;
    }

    .cv-container .cv-content-container .cv-content-left ul{
        list-style-type: disc;
        margin: 1em 1em 2em 1em;
        padding: 0;
    }

    .cv-container .cv-content-container .cv-content-left ul li{
        margin-top: .3em;
    }

    .cv-container .cv-content-container .cv-content-right h2{
        margin: 1em auto;
    }

    .cv-container .cv-content-container .cv-content-right h3{
        font-size: 100%
    }

    .cv-container .cv-content-container .cv-content-left img{
        display: block;
        height: 200px;
        border-radius: 1em;
        margin: 0 auto;
    }

}

@media screen and (min-width: 1100px) {
    .cv-container{
        width: 1024px;
        margin: 20vh auto;
    }
}