@import url('https://fonts.googleapis.com/css2?family=Patua+One&family=Poppins:wght@400;700&display=swap');

:root {
    --gris: white;
    --vert1:#94C1D6; 
    --vert2:#A5C2D6; 
    --vert3:#6FA7BC; 
}

html,body{
    /*background: linear-gradient(to bottom right,#e6e6e6, #868686);*/
	background: url('https://wallpapercave.com/wp/jUniFl4.jpg');
    font-family: 'poppins';
    font-weight: normal;
    margin: 0;
    height: 100vh;
}

body{
    background: url('https://wallpapercave.com/wp/jUniFl4.jpg');
}

h2{
    margin: 0;
}

header{
    background-color: var(--vert2);
    display: flex;
    justify-content: space-between;
    padding: .5em;
}

.acc{
    margin-left: 3%;
    margin-top: 0;
    margin-bottom: 0;
}

.acc a{
    color: black;
    font-style: normal;
    text-decoration: none;
}

.acc h2{
    margin-top: 0;
    margin-bottom: 0;
}

.acc a:hover{
    color: var(--gris);
}

.nom{
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
    display: none;
}

.nom h2{
    margin-top: 0;
    margin-bottom: 0;
}

.dropbtn{
    border: none;
    background-color: black;
    font-size: 15px;
}

.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown-content{
    display: none;
    position: absolute;
    right: -.5em;
    top: -.5em;
    min-width: 290px;
    z-index: 1;
    background-color: var(--vert2);
    border-radius: 1em;
    box-shadow: 3px 3px 3px var(--vert3);
    padding-top: 2.5em;
    padding-bottom: .5em;
    padding-left: 1em;
    transition-duration: .5s;
}

.dropdown-content img{
    position: absolute;
    width: 32px;
    height: 32px;
    left: .5em;
    top: .5em;
}

.dropdown:hover .dropdown-content{
    display: block;
    
}

.dropdown:hover .dropbtn{
    color: var(--gris);
}

.contact{
    position: relative;
    margin-right: 3%;
}

.contword{
    position: relative;
    font-size: 150%;
    font-weight: bold;
    z-index: 2;
}

.contword:hover{
    color: var(--gris);
    cursor: pointer;
}

.pp-container{
    background-color: rgb(255, 255, 255, .7);
    margin: 1em;
    border-radius: 2em;
}

.pp-container .left-col{
    padding: 1.5em;
}

.pp-container ul{
    padding-left: 1em;
}

.pp-container img{
    display: none;
}

.pp-container p{
    text-indent: 1.5em;
    text-align: justify;
}

.pp-container ul{
    text-transform: uppercase;
    font-weight: bold;
}

@media screen and (min-width: 600px){

    .nom{
        display: block;
    }

    .pp-container ul{
        list-style-type: none;
        margin: 1em auto;
        padding-left: 2em;
    }

    .pp-container ul li{
        margin: .5em;
    }

    .item-1:before{
        position: absolute;
        content: '';
        width: 24px;
        height: 24px;
        left: 3em;
        background-image: url('../images/noteBook-icon.svg');
    }

    .item-2:before{
        position: absolute;
        content: '';
        width: 24px;
        height: 24px;
        left: 3em;
        background-image: url('../images/brain-icon.svg');
    }

    .item-3:before{
        position: absolute;
        content: '';
        width: 24px;
        height: 24px;
        left: 3em;
        background-image: url('../images/gameDev-icon.svg');
    }

}

@media screen and (min-width: 1080px) {
    
    .pp-container{
        background-color: var(--vert2);
        display: flex;
        justify-content: space-between;
        position: relative;
    }

    .pp-container ul{
        margin: 1.5em auto;
        padding-left: 2.5em;
    }

    .pp-container li:before{
        left: 2.5em;
    }

    .pp-container img{
        display: block;
        top: 0;
        right: 0;
        border-radius: 0 2em 2em 0;
        margin-right: 0;
        margin-top: 0;
        margin-left: 1em;
        height: 89vh;
    }

    body{
    background: url('https://wallpapercave.com/wp/jUniFl4.jpg');
    }

}

@media screen and (min-width: 1280px) {

    .pp-container ul{
        margin: 3em auto;
        padding-left: 3em;
    }

    .pp-container h2{
        margin-bottom: 2em;
    }

    .pp-container ul li{
        margin: 1.5em auto;
    }

}